.card.modal
    a.modal__close.js-close(href='#')
        span.modal__close__item
        span.modal__close__item
    .card__inner.js-content-update
        h2.card__title.white.text-center
        p.card__price.text.text-center
            span.h5.card__price__full= '$'
            span.h3.white.card__price__discount= '$'
            | /mo
        ul.card__info
            li.text <span class="gray bold"></span> credits
            li.text <span class="gray bold"></span> recipients
            li.text <span class="gray bold"></span> users
            li.text <span class="gray bold"></span> export
            li.text <span class="gray bold"></span> integrations
    .modal__counter
        p.js-counter.text.white 30