@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@font-face {
  font-family: 'Proba Pro',sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/ProbaPro-Bold.woff2') format('woff2'),
       url('./assets/fonts/ProbaPro-Bold.woff') format('woff');
}